body {
	margin: 0;
	font-family: 'Verdana', sans-serif;
}

figure {
	margin: 0;
}
#background {
	width: 100vw;
	background-image: url(/zadanie-domowe-rwd-materialy/obrazy/man-2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

figcaption {
	position: absolute;
	color: #fff;
	transform: translateY(-50%);
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 4em;	
	text-align: left;
	left: 55%;
	top: 25%;
}

.napis-1 {
	font-size: 30px;
}

.napis-2 {
	font-size: 40px;
}